.btn {
  display: inline-flex;
  min-width: 120px;
  min-height: 40px;
  padding: 11px 15px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}
