@use 'styles/style';

/* You can add global styles to this file, and also import other style files */

// buttons, forms (input fields, text areas, checkboxes, radio buttons), dropdown menus, modals, cards, navigation bars, tabs, accordions, progress bars, tooltips, alerts, paginations, tables, lists, icons, spinners, and image carousels
/*
https://preline.co/pro/examples.html
https://preline.co/pro/examples/header-dashboard-layouts.html
https://preline.co/pro/examples/grid-layout-cards.html
https://preline.co/pro/examples/drawers-offcanvas.html
https://preline.co/pro/examples/sidebar-search.html

https://block.codescandy.com/index.html
https://block.codescandy.com/landing-sass-v1.html#

https://folio.webestica.com/index-saas.html

https://onsen.io/v2/api/css.html

https://flowbite.com/docs/getting-started/introduction/
*/
