@use '@angular/material' as mat;
@use 'theme-colors' as my-theme;

@include mat.core();

// Apply the light theme by default
html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: my-theme.$primary-palette,
        tertiary: my-theme.$tertiary-palette
      ),
      typography: (
        plain-family: Roboto,
        brand-family: Open Sans,
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 300
      ),
      density: 0
    )
  );

  // Apply the dark theme only when the `.dark-theme` class is applied to an ancestor element of the components (such as `body`)
  .dark-theme {
    @include mat.theme(
      (
        color: (
          theme-type: dark,
          primary: my-theme.$primary-palette,
          tertiary: my-theme.$tertiary-palette
        ),
        typography: (
          plain-family: Roboto,
          brand-family: Open Sans,
          bold-weight: 900,
          medium-weight: 500,
          regular-weight: 300
        ),
        density: 0
      )
    );
  }
}
